.create-my-gear-card {
  width: 200px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
}

.gear-card {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
}